<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <h1>Edit Post</h1>
        <form action="/<%= post.PID %>/edit" method="post">
        <label for="imgURL">Image URL:</label>
        <input type="text" id="imgURL" name="imgURL" value="<%= post.imgURL %>" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= post.description %></textarea>

        <button type="submit">Update Post</button>
    </form>
</body>
</html>
